.parent-div {
  width: 100%;
  height: 50%;
  margin-top: -16px;
  background-color: #1976d2;
}
.soon-div {
  width: 60%;
  height: 50%;
  position: absolute;
  margin: auto;
  margin-top: 15%;
  margin-left: 15%;
  background-color: #e6ebf1
}
.input-login {
  width: 35%;
  height: 40px;
  margin: 10px;
}
.text-title {
  margin-left: 30%;
}
.btn-login {
  border: none;
  background-color: #1976d2;
  color: white;
  width: 100px;
  height: 40px;
  /*margin-left: 45%;*/
  justify-content: center;
  margin: auto;
}
.label-input {
  margin-left: 25%;
}
.error-validate {
  color: red;
}
::-webkit-input-placeholder { /* Edge */
  padding: 10px;
}
.label-input-role {
  width: 100%;
  text-align: center;
  /* justify-content: center; */
}
.div-btl {
  width: 100%;
  height: 70px;
  text-align: center;
}
