<div class="parent-div">
  <br>
  <div class="soon-div">
    <h3 style="text-align: center">Login</h3>
    <form [formGroup]="loginForm">
      <label class="label-input">
        User Name: (admin)
        <input type="text" class="input-login" placeholder="User name" formControlName="username" required minlength="4" maxlength="12">
        <div *ngIf="loginForm.get('username').invalid && (loginForm.get('username').dirty || loginForm.get('username').touched)"
             class="alert-danger">
          <div class="label-input" *ngIf="loginForm.get('username').errors.required">
            <span class="error-validate">Name is required.</span>
          </div>
          <div class="label-input"  *ngIf="loginForm.get('username').errors.minlength">
            <span class="error-validate">Name must be at least 4 characters long.</span>
          </div>
          <div class="label-input"  *ngIf="loginForm.get('username').errors.maxlength">
            <span class="error-validate">Name must be at most 12 characters long.</span>
          </div>
        </div>
      </label>
      <br>
      <label class="label-input">
        Password: (admin123)
        <input type="password"  class="input-login" placeholder="Password" formControlName="password" required minlength="6" maxlength="50">
        <div *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)"
             class="alert-danger">
          <div class="label-input" *ngIf="loginForm.get('password').errors.required">
            <span class="error-validate">Password is required.</span>
          </div>
          <div class="label-input"  *ngIf="loginForm.get('password').errors.minlength">
            <span class="error-validate">Password must be at least 6 characters long.</span>
          </div>
          <div class="label-input"  *ngIf="loginForm.get('password').errors.maxlength">
            <span class="error-validate">Password must be at most 50 characters long.</span>
          </div>
        </div>
      </label>
      <br>
      <button class="btn-login" (click)="onSubmit()" [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>
</div>
