.parent-div {
  width: 100%;
  height: 50%;
  margin-top: -16px;
  background-color: #1976d2;
}
.soon-div {
  width: 70%;
  height: 90%;
  position: absolute;
  margin: auto;
  margin-top: 3%;
  margin-left: 10%;
  background-color: #e6ebf1
}
.input-login {
  width: 35%;
  height: 40px;
  margin: 10px;
}
.text-title {
  margin-left: 30%;
}
.btn-login {
  border: none;
  background-color: #1976d2;
  color: white;
  width: 100px;
  height: 40px;
  margin-left: 45%;
}
table, tr {
  width: 100%;
}
th {
  width: 25%;
}
.table-user {
  width: 100%;
}
.add-lg {
  width: 100px;
  height: 50px;
  margin: 10px;
  float: right;
  border: none;
  color: white;
  background-color: black;
  cursor: pointer;
}
.btn-edit {
  width: 50px;
  height: 30px;
  float: left;
  margin: 3px;
  border: none;
  color: white;
  background-color: #1976d2;
  cursor: pointer;
}
