.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.error-validate {
  color: red;
}
.add-lg {
  width: 100px;
  height: 50px;
  margin: 10px;
  float: right;
  border: none;
  color: white;
  background-color: black;
  cursor: pointer;
}
